node_modules/
blocks/build/
blocks/node_modules/
assets/css/serinity.css
assets/css/serinity.css.map
assets/js/serinity.js
assets/js/serinity.js.map
theme-codebase.txt
blocks/package-lock.json
package-lock.json
releases/