@use "../variables" as var;
.serinity-card {
  display: flex;
  align-items: stretch;
  border-radius: 1rem;
  width: 55rem;
  max-width: 100vw;
  min-height: 34rem;
  overflow: hidden;
  button {
    border: none;
    border-radius: 9999px;
    box-shadow: var(--wp--preset--shadow--natural);
    transition: outline 0.2s;
    svg > rect {
      fill: var(--wp--preset--color--nacre-claire);
      transition: fill 0.3s;
    }
    &:hover svg > rect {
      fill: var(--wp--preset--color--rose-claire);
    }
    &:focus {
      outline-offset: 0;
    }
  }

  > div:nth-child(1) {
    flex: 5;
  }
  > div:nth-child(2) {
    flex: 4;
  }
  @media screen and (max-width: 768px) {
    border-radius: 0;
    width: 100vw;
    min-height: 30rem;
    .serinity-card-img {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .serinity-card-text {
      padding: 1.5rem var.$horizontal-padding-small !important;
    }
  }
}
