@use "../variables" as var;

#hero {
  $hero-text-img-height: clamp(14.25rem, 8.8036rem + 27.2321vw, 21.875rem);
  min-height: 55dvh;
  padding: 4rem 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  .serinity-hero-img {
    align-self: center;
    img {
      height: 500px;
      width: auto;
      aspect-ratio: 2/3;
      flex: 1;
    }
  }
  .serinity-hero-text {
    max-width: 50rem;
    flex: 1;
    border-radius: 1.25rem;
    padding: 2rem 2.25rem;
    div.is-layout-flex {
      gap: 0.5rem;
    }
    .serinity-hero-text-img {
      display: none;
    }
  }
  @media screen and (max-width: var.$breakpoint-md) {
    align-items: stretch;
    min-height: unset;
    padding: 0 0 2rem 0;
    justify-content: start;
    gap: 0;
    .serinity-hero-img img {
      display: none;
    }
    .serinity-hero-text {
      position: relative;
      padding: calc($hero-text-img-height + 1rem) 1.25rem 1.2rem 1.25rem;
      border-radius: 0;
      width: 100vw;
      flex: unset;
      .serinity-hero-text-img {
        max-width: 100vw;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $hero-text-img-height;
      }
    }
  }
  @media screen and (max-width: var.$breakpoint-sm) {
    .serinity-hero-text {
      padding: calc($hero-text-img-height + 1rem) var.$horizontal-padding-small 1.2rem
        var.$horizontal-padding-small;
    }
  }
}

.serinity-wave-background {
  background: url("../images/wave.svg") no-repeat center center;
  background-size: cover;
  min-height: calc(100vw * (374 / 1816));
  max-width: 100vw;
  @media screen and (max-width: var.$breakpoint-md) {
    min-height: 20rem;
  }
}

#testimonies {
  .serinity-testimonies {
    position: relative;
    overflow-x: clip;
    z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--rose) 10%,
      rgba(0, 0, 0, 0) 50%,
      var(--wp--preset--color--aubergine) 90%
    );
  }
  @media screen and (max-width: var.$breakpoint-md) {
    padding-top: 4rem !important;
  }
}
