<!-- wp:template-part {"slug":"header","tagName":"header","align":"center","className":"serinity-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"serinity-main","layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"center"}} -->
<main class="wp-block-group serinity-main"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group"><!-- wp:themeisle-blocks/posts-grid {"id":"wp-block-themeisle-blocks-posts-grid-c952fbe2","imageSize":"medium_large","imageRatio":"1/1","backgroundColor":"#faf8f6","borderRadius":{"top":"45","right":"45","bottom":"45","left":"45"},"imageBoxShadow":{"active":true,"colorOpacity":50,"blur":5,"spread":1,"horizontal":0,"vertical":0},"textAlign":"left","hasPagination":true,"className":"has-light-bg is-style-tiled"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"serinity-footer"} /-->