#hero {
  $hero-text-img-height: clamp(14.25rem, 8.8036rem + 27.2321vw, 21.875rem);
  min-height: 55dvh;
  padding: 4rem 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  .serinity-hero-img {
    align-self: center;
    img {
      position: relative;
      height: 500px;
      aspect-ratio: 2/3;
      flex: 1;
    }
  }
  .serinity-hero-text {
    max-width: 50rem;
    flex: 1;
    border-radius: 1.25rem;
    padding: 2rem 2.25rem;
    div.is-layout-flex {
      gap: 0.5rem;
    }
    .serinity-hero-text-img {
      display:none;
    }
  }
  @media screen and (max-width: 768px) {
    align-items: stretch;
    min-height: unset;
    padding: 2rem 0;
    justify-content: start;
    gap:0;
    .serinity-hero-img img {
      display: none;
    }
    .serinity-hero-text {
      position: relative;
      padding: calc($hero-text-img-height + 1rem) 1.25rem 1.2rem 1.25rem;
      border-radius: 0;
      width: 100vw;
      flex: unset;
      .serinity-hero-text-img {
        max-width: 100vw;
        display: block;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: $hero-text-img-height;
      }
    }
  }
}

$card-count: 4;
$animation-duration: 20s;
$blur-max: 2rem;
$opacity-min: 0.1;

#questions {
  padding-top: 5rem;
  .serinity-questions {
    max-width: 90rem; // 1440px
    margin: 0 auto;
    position: relative;
    .serinity-question {
      padding: 2rem 2.15rem;
      display: flex;
      align-items: center;
      width: 17.5rem; // 280px
      animation-duration: $animation-duration;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      transition: transform ease-in-out 0.3s;
      &:hover,
      &:active,
      &:focus {
        transform: translateY(-5px);
        animation-play-state: paused;
        filter: blur(0) !important;
        opacity: 1 !important;
      }
      @for $i from 1 through $card-count {
        &:nth-child(#{$i}) {
          animation-name: breathe#{$i};
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 2rem;
    justify-content: flex-end;
    .serinity-questions {
      width: 100%;
      flex: 1;

      .serinity-question {
        position: absolute;
        top: 0;
        height: 110%;
        width: 90%;
        p {
          font-size: var(--wp--preset--font-size--serinity-md);
        }
      }
    }
  }
}

.serinity-wave-background {
  background: url("../images/wave.svg") no-repeat center center;
  background-size: cover;
  min-height: calc(100vw * (374 / 1816));
  max-width: 100vw;
  @media screen and (max-width: 768px) {
    min-height: 20rem;
  }
}

@keyframes breathe1 {
  0%,
  10% {
    opacity: 1;
    filter: blur(0px);
  }
  25% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
  50% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
  75% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes breathe2 {
  0% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
  25%,
  35% {
    opacity: 1;
    filter: blur(0px);
  }
  50% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
  75% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
  100% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
}

@keyframes breathe3 {
  0% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
  25% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
  50%,
  60% {
    opacity: 1;
    filter: blur(0px);
  }
  75% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
  100% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
}

@keyframes breathe4 {
  0% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
  25% {
    opacity: 0.7;
    filter: blur(calc($blur-max / 2));
  }
  50% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
  75%,
  85% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: $opacity-min;
    filter: blur($blur-max);
  }
}

#coach {
  .serinity-coach-img-mobile {
    display: none;
  }
  div:has(>h2) {
    gap:.25rem;
  }
  & > * {
    max-width: 100vw;
    position: relative;
    z-index: 2;
  }
  hr {
    margin: 1rem 0;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--sable) 10%,
      rgba(0, 0, 0, 0) 50%,
      var(--wp--preset--color--rose) 90%
    );
    mix-blend-mode: lighten;
    isolation: isolate;
  }
  @media screen and (max-width: 768px) {
    .serinity-coach-img-mobile {
      display: block;
    }
    .serinity-coach-img-desktop {
      display: none;
    }
    > div {
      width: 100%;
      border-radius: 0!important;
      flex-direction: column;
      padding: 2rem 1rem!important;
    }
    .serinity-coach-card {
      div:has(>h2) {
        row-gap: .8rem;
      }
      div:has(>p) {
        row-gap: .5rem;
      }
      h2 {
        line-height: 1.05;
      }
    }
  }
  @media screen and (max-width: 500px) {
    > div {
      backdrop-filter: blur(1rem);
    }
    .serinity-coach-card {
      backdrop-filter: unset!important;
      background-color: unset!important;
      box-shadow: unset!important;
      padding:0!important;
    }
    .serinity-coach-img-mobile img {
      width: 10rem;
    }
  }

}

#testimonies {
  & > * {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--rose) 10%,
      rgba(0, 0, 0, 0) 50%,
      var(--wp--preset--color--aubergine) 90%
    );
  }
}
#methode {
  // .serinity-cards-container {}
  & > * {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      var(--wp--preset--color--aubergine) 10%,
      rgba(0, 0, 0, 0) 50%,
      var(--wp--preset--color--rose) 90%
    );
    mix-blend-mode: darken;
  }
}

#plans {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;
  
  &.open {
    max-height: 100rem;
  }
}


#why-now {
  & > * {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(209, 183, 184, 0.75);
  }
}
