@use "variables" as *;
@use "mixins" as *;
@forward "reset";
@forward "header";
@forward "footer";
@forward "content";
@forward "landing-page";
@forward "testimonies";
@forward "./components/card";

.serinity-hidden {
  display: none;
  pointer-events: none;
}

.serinity-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.serinity-main {
  min-height: calc(
    100vh - $navbar-height - $navbar-offset - $footer-height - var(--wp-admin--admin-bar--height)
  );
  margin-top: calc($navbar-height + $navbar-offset);
  padding: 1.4rem 0;
  @media screen and (max-width: $max-content-width) {
    min-height: calc(100vh - $navbar-height - $footer-height - var(--wp-admin--admin-bar--height));
    margin-top: $navbar-height;
    &.serinity-page-home {
      padding-top: 0;
    }
  }
  &:has(.serinity-page-content) {
    padding-bottom: 0;
  }
  &:has(.serinity-404) {
    justify-content: center;
  }
}

.wp-block-button {
  &:not(.is-style-outline) a:hover {
    color: var(--wp--preset--color--nacre-claire);
    background-color: var(--wp--preset--color--taupe);
    border-color: var(--wp--preset--color--taupe-claire);
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  &:is(.is-style-outline) {
    a:is(.has-sable-sombre-color) {
      border-color: var(--wp--preset--color--sable-sombre) !important;
      &:hover,
      &:active {
        color: var(--wp--preset--color--nacre-claire) !important;
        background-color: var(--wp--preset--color--sable-sombre);
        transform: translateY(-0.25rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
      }
    }
    a:is(.has-rose-sombre-color) {
      border-color: var(--wp--preset--color--rose-sombre) !important;
      &:hover,
      &:active {
        color: var(--wp--preset--color--nacre-claire) !important;
        background-color: var(--wp--preset--color--rose-sombre);
        transform: translateY(-0.25rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
      }
    }
    a:is(.has-aubergine-sombre-color) {
      border-color: var(--wp--preset--color--aubergine-sombre) !important;
      &:hover,
      &:active {
        color: var(--wp--preset--color--nacre-claire) !important;
        background-color: var(--wp--preset--color--aubergine-sombre);
        transform: translateY(-0.25rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
      }
    }
  }
}

.serinity-block-aspect-ratio {
  aspect-ratio: 1/1;
}

.serinity-blur {
  backdrop-filter: blur(1.25rem);
  @media screen and (max-width: $breakpoint-md) {
    backdrop-filter: blur(0.625rem);
  }
}

.serinity-section {
  position: relative;
}

.serinity-heading-bg {
  margin-left: -0.4rem !important;
  span {
    background: var(--wp--preset--color--rose-claire);
    color: var(--wp--preset--color--taupe-sombre);
    padding: 0.2rem 0.4rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

.serinity-emphasis {
  font-size: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);
  em {
    font-family: "eskorte-latin";
    font-weight: 700;
    font-style: italic;
  }
}

.serinity-main .serinity-404 {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 0 $horizontal-padding-small;
  blockquote {
    box-shadow: var(--wp--preset--shadow--natural);
  }
}

.serinity-main .serinity-page-content {
  margin: 0 auto;
  max-width: $breakpoint-md;
  &:has(#parcours) {
    // Pour la page À propos
    max-width: none;
    margin: 0;
  }
}

.serinity-basic-section {
  min-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 2rem;
  .serinity-basic-section &-content {
    position: relative;
    max-width: $breakpoint-md;
    gap: 0;
  }
  .serinity-basic-section &-content-txt {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1.25rem);
    position: relative;
    z-index: 1;
    padding: $horizontal-padding-small;
    margin: 4rem 0;
    border-radius: 1rem;
  }
  .serinity-basic-section &-content-img {
    position: absolute;
    aspect-ratio: 2/1;
    height: 90%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 0;
    border-radius: 1rem;
    max-width: 864px;
  }
  .serinity-basic-section &-content-img.reversed {
    left: unset;
    right: 0;
    transform: translateX(50%) translateY(-50%);
  }
  .serinity-basic-section &-content-img :has(> h3) {
    transform: rotate(-90deg) translateY(-80%);
    width: 45%;
    h3 {
      text-align: center;
    }
  }
  .serinity-basic-section &-content-img.reversed :has(> h3) {
    transform: rotate(90deg) translateY(-80%);
  }
  @media screen and (max-width: $breakpoint-md) {
    min-height: unset;
    padding: unset;
    .serinity-basic-section &-content {
      flex-direction: column;
    }
    .serinity-basic-section &-content-txt {
      background-color: unset;
      backdrop-filter: unset;
      position: unset;
      z-index: unset;
      margin: 0;
      padding: 1.5rem $horizontal-padding-small;
    }
    .serinity-basic-section &-content-img,
    .serinity-basic-section &-content-img.reversed {
      position: relative;
      top: unset;
      transform: unset;
      overflow: hidden;
      width: 100%;
      min-height: unset;
      height: 10rem;
      border-radius: unset;
    }
    .serinity-basic-section &-content-img :has(> h3),
    .serinity-basic-section &-content-img.reversed :has(> h3) {
      transform: unset;
      width: 100%;
      h3 {
        text-align: left;
      }
    }
  }
}
